{% extends 'base.html' %}
{% load static %}



{% block scripts %}
<script src="{% static 'quizs/mains.js' %}" defer></script>
{% endblock scripts %}


{% block title %}
Acceuil
{% endblock title %}





{% block main %}



  
  <!-- Modal -->
  <div class="modal fade" id="quizStartModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" >
    <div class="modal-dialog" role="document" >
      <div class="modal-content" style="background-image:linear-gradient(to right, rgba(33, 147, 176, 0.7), rgba(18, 124, 148, 0.7));">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Debuter</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body" id="modal-body-confirm" >

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Fermer</button>
          <button id="start-button" class="btn btn-success">Oui</button>
        </div>
      </div>
    </div>
  </div>

  {% for obj in object_list %}
  <button 
  class="btn btn-info modal-button" 
  style="margin-left: 550px;"   
  data-id="{{obj.id}}"
  data-quiz="{{obj.name}}"
  data-questions="{{obj.nombre_de_question}}"
  data-niveau="{{obj.niveau}}"
  data-temps="{{obj.temps}}"
  data-pass="{{obj.score_passe}}"
  data-toggle="modal" 
  data-target="#quizStartModal">
    Demarer le Test {{obj.name}}
  </button><br>
  <br>
  {% endfor %}



{% endblock main %}
