{% extends 'base.html' %}
{% load static %}
{% block main %}

<div id="wrapper">
    <div class="container">
        <div class="row text-center">
            <div class="check_mark_img" style="">
                <img style="height:150px; width:150px;" src= "{% static "assets/images/completed.png" %}" alt="image_not_found">
            </div>
            <div class="sub_title">
                <span>Votre Soummission a été bien enregistrer</span>
            </div>
            <div class="title pt-1">
                <h3>Thankyou For Give Answer</h3>
            </div>
        </div>
    </div>
</div>

{% endblock main %}